extends layout

block header
  title= "Package Explorer"

block content
  include search-bar
  div(class='package-list featured')
    div(class='package-list-header')
      a(href="/packages/featured")
        svg(class="icon")
          use(href="/public/feather-sprite.svg#award")
        h2(class="banner-msg") Featured Packages
    div(class='package-card')
      each pack in featured
        div(class='package-card')
          include package_listing
