doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/public/site.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css")
    block header
  body
    if timecop
      script.
        let timetable = !{JSON.stringify(timecop)};
    div(class='header')
      a(href='https://pulsar-edit.dev') Website
      a(href='/') Package Home
      a(href='/packages') All Packages
      div(class='theme-selector')
        button(onclick='changeThemeBtn()' class='dropbtn') Change Theme
        div(class='dropdown-content' id='dropdown-list')
          div(class='dropdown-item' onclick='changeTheme("original-theme")') Atom.io Theme
          div(class='dropdown-item', onclick='changeTheme("github-dark")') GitHub Dark Theme
    block content
    footer
      div(class='footer')
        a(href='') FAQ
    script(src='/public/site.js')
