div(class='search-bar-container')
  h2(class='banner-msg') Packages make Pulsar do amazing things.
  form(class='search-form' action='/packages/search')
    input(type='search' name='q' class='search-input')
    input(type='submit' class='search-button' value='Search')
