.container {
padding: 30px;
margin: 20px;
width: 80%;
height: 80%;
align-content: center;
}

.icon {
stroke: black;
width: 24px;
height: 24px;
stroke-width: 2;
}
.heading {
font-weight: 600;
font-size: 100px;
display: flex;
}

.title {
color: black;
margin-right: 400px;
font-family: 'Jura', sans-serif;
}

.author {
padding-left: 5px;
color: grey;
font-size: 90px;
}

.subtitle {
font-weight: 400;
font-size: 40px;
display: flex;
padding-top: 5px;
}

.link {
color: blue;
text-decoration: underline;
padding: 0px 10px 0px 20px;
font-family: 'Jura', sans-serif;
}

.version {
padding-left: 5px;
color: grey;
font-family: 'Jura', sans-serif;
}

.description {
padding-top: 15px;
color: black;
font-size: 50px;
font-family: 'Jura', sans-serif;
}

.bottom-icons {
display: inline-block;
padding-top: 50px;
padding-left: 5px;
width: 100%;
text-align: justify;
font-size: 40px;
font-family: 'Jura', sans-serif;
position: absolute;
bottom: 20px;
left: 30px;
}

.downloads {
padding: 0px 16px 0px 16px;;
display: inline-block;
}

.stars {
padding: 0px 16px 0px 16px;
display: inline-block;
border-left: 2px solid lightGrey;
}

.license {
padding: 0px 120px 0px 16px;
display: inline-block;
border-left: 2px solid lightGrey;
}

.pulsar-logo {
  position: absolute;
  right: 80px;
  bottom: 20px;
}
