:root {

}

.package-list {
  margin-bottom: 20px;
  margin-top: 40px;
  height: 100%;
  width: 85%;
  padding-right: 40px;
  padding-left: 40px;
}

.package-list .package-card {
  position: relative;
  list-style-type: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  overflow: hidden;
  margin: 0 20px 20px 0;
}
