<footer class="flex flex-col border-t border-secondary mt-16 py-6 gap-6 text-center">
    <img src="/public/logo-name-navbar-dark.svg" class="max-h-14">
    <div class="flex items-center justify-center gap-6">
        <a href="http://github.com/pulsar-edit" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://github.com/orgs/pulsar-edit/discussions" target="_blank"><i class="fas fa-comments"></i></a>
        <a href="https://discord.gg/7aEbB9dGRT" target="_blank"><i class="fab fa-discord"></i></a>
        <a href="https://www.reddit.com/r/pulsaredit/" target="_blank"><i class="fab fa-reddit"></i></a>
        <a href="https://fosstodon.org/@pulsaredit" target="_blank"><i class="fab fa-mastodon"></i></a>
        <a href="https://opencollective.com/pulsar-edit" target="_blank"><i class="fas fa-hand-holding-dollar"></i></a>
    </div>
    <div class="flex gap-6 flex-col text-center md:flex-row md:text-left justify-between flex-wrap max-w-4xl w-full mx-auto border-y border-secondary py-6">
        <div>
            <h2>Pulsar</h2>
            <a href="https://pulsar-edit.dev/download.html" target="_blank">Downloads</a>
            <a href="https://pulsar-edit.dev/docs/" target="_blank">Documentation</a>
            <a href="https://pulsar-edit.dev" target="_blank">Website</a>
        </div>
        <div>
            <h2>Team</h2>
            <a href="https://pulsar-edit.dev/about.html" target="_blank">About Us</a>
            <a href="https://pulsar-edit.dev/article/" target="_blank">Blog</a>
            <a href="http://github.com/pulsar-edit" target="_blank">Org Repositories</a>
        </div>
        <div>
            <h2>Resources</h2>
            <a href="https://pulsar-edit.dev/docs/resources/privacy" target="_blank">Privacy Policy</a>
            <a href="https://pulsar-edit.dev/docs/resources/conduct" target="_blank">Code of Conduct</a>
            <a href="https://pulsar-edit.dev/community.html" target="_blank">Contact Us</a>
        </div>
    </div>
    <p class="text-sm opacity-70">Pulsar-Edit © <%- new Date().getFullYear() %></p>
</footer>
</body>
<% if (dev) { %>
  <script src="/public/site.js"></script>
<% } else { %>
  <script src="/public/site.min.js"></script>
<% } %>
</html>
