.badges {
  .badges__item--success {
    color: var(--alert-color-tip);
    background-color: var(--alert-bg-tip);
    border-color: var(--alert-border-tip);
  }

  .badges__item--warn {
    color: var(--alert-color-danger);
    background-color: var(--alert-bg-danger);
    border-color: var(--alert-border-danger);
  }

  .badges__item--info {
    color: var(--alert-color-info);
    background-color: var(--alert-bg-info);
    border-color: var(--alert-border-info);
  }

  .badges__item {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;

    .badges__item-title {
      padding: 1px 3px;
      display: block;
    }

    .badges__item-title:before {
      padding-right: 5px;
    }

    .badges__item-text {

    }
  }
}
