.search-area {
  // max-width: 60vw;
  // margin: 0 auto;
  // display: flex;
  &__tagline {
    text-align: center;
  }

  &__advanced-search {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    border: .25rem solid transparent;
    padding: 0 .5rem;

    summary {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem;

      aside {
        font-size: 13px;
        font-style: italic;
        align-self: center;
        display: none;
      }
    }

    summary + div {
      padding-bottom: 1.5rem;
    }

    &[open] {
      border-color: var(--thematic-break-color);

      summary aside {
        display: block;
      }

      .search-area__advanced-search-title {
        transform: translateX(0);
        &:before {
          content: '▼';
        }
      }
    }
  }

  &__advanced-search-title {
    transition: transform 0.2s;
    transform: translateX(-1.5rem);
    &:before {
      content: '▶';
      padding-right: 0.5ch;
    }
  }
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__input {
    width: 66.6%;
    max-width: 48rem;
    padding-left: 0;
    margin-bottom: 0;
  }
}

search {
  max-width: 80vw;
  margin: 0 auto;
}

option[disabled] {
  color: #999;
}

form#search {
  // max-width: 48rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  // Vertically align the button text with the button icon.
  button[type="submit"] {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    line-height: 38px;

    i::before {
      line-height: 38px !important;
    }
  }
}

.as {
  padding: 1rem;
  // border: 1px solid var(--thematic-break-color);
  // box-shadow: 0 0 1px 1px var(--card-shadow-color);
  // margin-bottom: 2rem;

  &__section-content--sort {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 2px;
  }

  &__row-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: .5rem;
  }

  &__row-wrapper--criteria {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__header {
    margin: 0 0 1.5rem;
  }

  &__section {
    margin: 0 0 1.5rem;
    padding: 0.25rem 0 0.25rem 0;
    min-width: 0;
    max-width: 100%;
    flex-basis: 1 1 30%;
    // border-left: 0.25rem solid var(--thematic-break-color);
    overflow: clip;
  }

  &__section--service {
    grid-column: 1 / -1;

    .as__section-subcontent {

      label, input, select {
        margin: 0;
      }

      & > div {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__section-subcontent--service {
    row-gap: .5rem;
  }

  &__section-header {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0 0 0.5rem;
  }

  &__section-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__section-subcontent {
    display: grid;
    grid: auto-flow / 1fr;
    width: 100%;
    row-gap: .5rem;
    // flex-basis: 30%;
  }

  input[type="radio"]:focus-visible + label {
    box-shadow: 0 0 1px 3px var(--btn-bg-primary);
  }

  aside {
    font-size: 12px;
    margin: 0.25rem 0;
  }

  input {
    min-width: 0;
    margin-bottom: 0;
  }

  label {
    font-weight: 500;
    font-size: 14px;
    // Add some padding to labels so that they appear visually aligned with
    // their input/select fields.
    padding: 6px 0;
  }

  &__list--sort {
    li:has(input[type="radio"]) {
      display: inline-block;
      position: relative;
      margin: 0;
      // padding: 0;
      // display: flex;
      // flex-direction: row;
      // align-items: center;
      // gap: 0.5rem;

      input:checked + label {
        background: var(--btn-bg-primary);
        color: var(--btn-color-primary);
      }

      input, label {
        margin: 0 !important;
        display: inline-block;
      }

      input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        border: 2px solid;
        height: 100%;
        left: 0;
        opacity: .00001;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
      }

      label {
        font-size: 13.5px;
        border-radius: 2em;
        border: 1px solid var(--thematic-break-color);
        border-radius: 999px;
        transition: all .12s;
        white-space: nowrap;
        display: block;
        padding: .5rem 1rem;

        &:after {
          border: 2px solid;
          border-color: rgba(0,0,0,0);
          border-radius: 2em;
          bottom: 0;
          content: "";
          left: 0;
          pointer-events: none; /* 1 */
          position: absolute;
          right: 0;
          top: 0;
          transition:
          bottom .2s ease-in-out,
          border-color .2s ease-in-out,
          left .2s ease-in-out,
          right .2s ease-in-out,
          top .2s ease-in-out;
        }
      }
    }
  }

  &__list--direction {
    display: flex;
    flex-direction: row;
    gap: 0 !important;

    li {
      position: relative;
      margin: 0;

      &:first-of-type label {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }

      &:last-of-type label {
        border-left-width: 0;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }

      label {
        display: block;

        .icon::before {
          text-align: center;
        }
      }
    }

    input:checked + label {
      background: var(--btn-bg-primary);
      color: var(--btn-color-primary);
    }

    input, label {
      margin: 0 !important;
      display: inline-block;
    }

    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: none;
      border: 2px solid;
      height: 100%;
      left: 0;
      opacity: .00001;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }

    label {
      padding: .5rem 1rem;
      border: 1px solid var(--thematic-break-color);
      transition: all .12s;
      white-space: nowrap;
      display: block;
    }
  }

  &__list {
    margin: 0 !important;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
  }
}

@media (min-width: @bp-larger-than-phablet) {
  .as {
    &__row-wrapper--criteria {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: @bp-larger-than-tablet) {
  .as {
    &__row-wrapper--criteria {
      grid-template-columns: repeat(2, 1fr);
    }

    &__list {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    &__section-subcontent {
      // grid: auto-flow / 150px 1fr;
      // gap: 1rem;

      input, select {
        width: 100%;
      }
    }

    &__section-subcontent--service {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 0;
      column-gap: .5rem;

      & > div {
        flex-direction: column;
      }
    }
  }
}

select.empty {
  color: inherit;
  color: #ccc;
  // opacity: 0.5;
}
