<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title><%=page.name%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/site.css">
  </head>
  <body>

    <div class="center">
      <div class="code">
        <%=content%>
      </div>
    </div>
    
  </body>
</html>
