<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title><%=page.name%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/site.css">
  </head>
  <body>

    <div class="center">
      <div class="text">
        Page '<%=path%>' could not be found on this server.
      </div>
    </div>
    
  </body>
</html>
