<%- include('header', { page }); %>

<%- include('search_bar'); %>

<div class="package-list featured">
  <div class="package-list-header">
    <a href="/packages/featured">
      <svg class="icon">
        <use href="/public/feather-sprite.svg#award" />
      </svg>
      <h2 class="banner-msg"> Featured Packages</h2>
    </a>
  </div>
  <div class="package-card">
    <% featured.forEach(pack => { %>
      <div class="package-card">
        <%- include('package_listing', { pack }); %>
      </div>
    <% }); %>

<%- include('footer'); %>
