<%- include('header', { page }); %>

<div class="login-container">
  <h2 class="banner-msg">Sign Up</h2>
  <form class="pat-signup" action="https://api.pulsar-edit.dev/api/pat">
    <label for="token" class="pat-signup-text">Enter your PAT Token:</label>
    <input type="text" name="token" class="pat-token-input" />
    <input type="submit" class="pat-token-button" value="Sign Up with a PAT Token" />
    <p><a href="https://github.com/confused-Techie/atom-backend/blob/main/docs/reference/end_user_auth.md#sign-in-with-a-manually-created-pat-token">Learn More</a></p>
  </form>

  <br />

  <div class="oauth-signup">
    <a href="https://api.pulsar-edit.dev/api/login">
      <button type="button" class="oauth-signup-button">Sign Up with OAuth</button>
    </a>
    <p><a href="https://github.com/confused-Techie/atom-backend/blob/main/docs/reference/end_user_auth.md#sign-in-with-github">Learn More</a></p>
  </div>

<%- include('footer'); %>
