<%- include('header', { page: page }); %>

<div class="package-list">
  <% packages.forEach((pack) => { %>
    <div class="package-card">
      <%- include('package_listing', { pack }); %>
    </div>
  <% }); %>
</div>

<%- include('footer'); %>
