<div class="search-bar-container">
  <h2 class="banner-msg"> Packages Make Pulsar do Amazing Things.</h2>
  <form class="search-form" action="/packages/search">
    <input type="search" name="q" class="search-input" />
    <input type="submit" class="search-button" value="Search" />
  </form>
</div>
