<%- include('header', { name: `Search ${search}` }); %>

<%- include('search_bar'); %>
<div class="package-list">
  <div class="package-card">
    <% packages.forEach((pack) => { %>
      <div class="package-card">
        <%- include('package_listing', { pack }); %>
      </div>
    <% }); %>
  </div>
</div>

<%- include('footer'); %>
