<%- include('header', { page }); %>

<div class="container">
  <h1 class="your-account-heading">Your Account</h1>

  <div class="flex-wrap">
    <div class="user-info-block">
      <img
        src="https://images.pexels.com/photos/3777943/pexels-photo-3777943.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        class="user-info-block-avatar"
        alt="{USER_FIRST_NAME}{USER_LAST_NAME}"
        loading="lazy"
        width="75"
        height="75"
      />

      <div class="user-info-block-details">
        <p class="user-info-block-name">
          Joe Bloggs
          <span class="user-info-block-handle">@joe.bloggs</span>
        </p>

        <p class="mb-0">Account Created: {TIMESTAMP}</p>
      </div>
    </div>

    <div>
      <h2 class="api-token-heading">Your Pulsar API Token</h2>

      <div class="api-token-block">
        <input
          type="text"
          disabled
          value="api-token-goes-here"
          class="input api-token-block-input copy-to-clipboard-input-js"
        />
        <button class="api-token-block-button copy-to-clipboard-button-js">
          Copy Token
        </button>
      </div>
    </div>
  </div>
</div>

<%- include('footer'); %>
