<%- include('../partials/header', { page }); %>

<article>
  <%- include('../partials/search_bar'); %>
  <h2>
    <i class="fas fa-bullhorn text-primary"></i> 
    Featured Packages
  </h2>
  <%- include('../partials/package_grid', { packages: featured }); %>
</article>

<%- include('../partials/footer'); %>
