<%- include('../partials/header', { page }); %>

<article class="md:flex md:gap-24">
  <div class="flex-1">
    <h1 class="mb-4">Sign Up with PAT</h1>
    <form action="https://api.pulsar-edit.dev/api/pat">
      <input type="text" placeholder="Enter your GitHub PAT">
      <button>
        <i class="fas fa-key mr-2"></i>
        Sign Up
      </button>
    </form>
    <a class="block mt-3 text-primary" href="https://github.com/confused-Techie/atom-backend/blob/main/docs/reference/end_user_auth.md#sign-in-with-a-manually-created-pat-token" target="_blank">
      I don't have a PAT
    </a>
  </div>
  <div class="relative w-[1px] bg-secondary md:visible invisible">
    <span class="absolute top-1/2 -mt-4 -ml-2 bg-canvas font-bold py-2 text-xl">or</span>
  </div>
  <div class="flex-1 my-12 md:my-0">
    <h1 class="mb-4">Sign Up with OAuth</h1>
    <a href="https://api.pulsar-edit.dev/api/login">
      <button class="full !bg-black">
        <i class="fab fa-github mr-2"></i>
        Sign Up with GitHub OAuth
      </button>
    </a>
    <a class="block mt-3 text-primary" href="https://github.com/confused-Techie/atom-backend/blob/main/docs/reference/end_user_auth.md#sign-in-with-github" target="_blank">
      What is this?
    </a>
  </div>
</article>

<%- include('../partials/footer'); %>
