<%- include('../partials/header', { page }); %>

<article>
  <%- include('../partials/package_listing', {verbose: true}); %>
  <div id="readme" class="mt-12 prose max-w-none">
    <%-pack.readme%>
  </div>
</article>

<%- include('../partials/footer'); %>
