<%- include('../partials/header', { page }); %>

<article class="md:flex md:gap-24">
  <div class="flex-1">
    <h1 class="mb-4">Your Account</h1>
    <div class="flex items-center gap-6">
      <div id="user-account-avatar" class="w-24 h-24 bg-cover bg-center rounded-full bg-[url(https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg)]"></div>
      <div>
        <h2 id="user-info-block-name">John Smith</h2>
        <p id="user-info-block-handle">@john.smith</p>
        <p id="account-created" class="mt-3">Account Created: {TIMESTAMP}</p>
      </div>
    </div>
  </div>
  <div class="flex-1 my-12 md:my-0">
    <h1 class="mb-4">Your Pulsar API Token</h1>
    <input
      id="api-token"
      type="text"
      disabled
      value="api-token-goes-here"
      class="bg-secondary wide copy-to-clipboard-input-js"
    />
    <button class="copy-to-clipboard-button-js">
      <i class="fas fa-clipboard mr-2"></i>
      Copy Token
    </button>
  </div>
</article>

<%- include('../partials/footer'); %>
