@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --canvas: #fff; /* Colours the background of the whole page */
  --primary: #3b9b6d; /* Colours certain buttons, or highlights */
  --accent: #584b4f; /* Colours banners or borders */
  --secondary: rgba(0, 0, 0, 0.1); /* Colours borders and modals */
  --text: #000; /* Colours most text */
  --header-text: #fff; /* Colours header text. Will fall back to `--text` if empty */

  --badge-default-text: var(--text);
  --badge-default-bg: var(--canvas);

  --badge-warn-text: var(--text);
  --badge-warn-bg: #dc3545;

  --badge-info-text: var(--text);
  --badge-info-bg: #17a2b8;

  --badge-success-text: var(--text);
  --badge-success-bg: #28a745;
}

body[theme="github-dark"] {
  --canvas: #0d1117;
  --primary: #58a6ff;
  --accent: #161b22;
  --secondary: rgba(255, 255, 255, 0.1);
  --text: #c9d1d9;
  --header-text: var(--text);

  --badge-default-text: var(--text);
  --badge-default-bg: var(--canvas);
  /* TODO: Add other badge styling specific to this theme */
}

body[theme="dracula"] {
  --canvas: #282a36;
  --primary: #bd93f9;
  --accent: #44475a;
  --secondary: rgba(255, 255, 255, 0.1);
  --text: #f8f8f2;
  --header-text: var(--text);

  --badge-default-text: var(--text);
  --badge-default-bg: var(--canvas);
  /* TODO: Add other badge styling specific to this theme */
}

body[theme="one-dark"] {
  --canvas: #282c34;
  --primary: #568af2;
  --accent: #21252b;
  --secondary: #181a1f;
  --text: #abb2bf;
  --header-text: var(--text);

  --badge-default-text: var(--text);
  --badge-default-bg: var(--canvas);
  /* TODO: Add other badge styling specific to this theme */
}

body[theme="one-light"] {
  --canvas: #e8eaed; /* Pulsar's @base-background-color */
  --primary: #5a8ae9; /* Pulsar's @button-background-color-selected */
  --accent: #d7dae0; /* Pulsar's @app-background-color */
  --secondary: #c5cad3; /* Pulsar's @base-border-color */
  --text: #2c313a; /* Pulsar's @text-color */
  --header-text: #121417; /* Pulsar's @text-color-highlight */

  --badge-default-text: var(--text);
  --badge-default-bg: var(--canvas);
  /* TODO: Add other badge styling specific to this theme */
}

/**************************/
/******** GLOBALS *********/
/**************************/

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

input {
  @apply border border-secondary bg-transparent rounded w-2/3 max-w-3xl p-3
}

header a,
header button {
  color: var(--header-text, var(--text));
  @apply hover:text-primary transition-all;
}

article {
  @apply mx-auto max-w-[1024px] px-3 flex-1 w-full;
}

article button {
  @apply p-3 rounded !bg-primary text-white transition-all hover:opacity-90;
}

footer h2 {
  @apply opacity-70 mb-3;
}

footer i {
  @apply text-3xl;
}

footer a {
  @apply block text-sm my-1 text-primary hover:opacity-80 transition-all;
}

/**************************/
/******** BADGES **********/
/**************************/

.badge {
  @apply text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full;
  color: var(--badge-default-text);
  background-color: var(--badge-default-bg);
  vertical-align: text-top;
}

.badge.badge-warn {
  color: var(--badge-warn-text);
  background-color: var(--badge-warn-bg);
}

.badge.badge-info {
  color: var(--badge-info-text);
  background-color: var(--badge-info-bg);
}

.badge.badge-success {
  color: var(--badge-success-text);
  background-color: var(--badge-success-bg);
}

.badge:hover .badge-text {
  display: contents;
}

.badge:hover .badge-expandable {
  display: none;
}

.badge-expandable {
  display: contents;
}

.badge-text {
  display: none;
}

/**************************/
/****** MOBILE NAV ********/
/**************************/

nav.active {
  @apply left-0;
}

/**************************/
/****** THEME SELECT ******/
/**************************/

#dropdown-list.show {
  @apply !block;
}

#dropdown-list:before {
  @apply absolute -top-4 right-10 content-[''] w-0 h-0 border-8 border-transparent border-b-accent;
}

#dropdown-list button {
  display: block;
}

/**************************/
/****** SHARE SELECT ******/
/**************************/

#share-dropdown-list.show {
  @apply !block;
}

#share-dropdown-list:before {
  right: 50%;
  @apply absolute -top-4 content-[''] w-0 h-0 border-8 border-transparent border-b-accent;
}

#share-dropdown-list input {
  background-color: var(--canvas);
}

/**************************/
/***** PACKAGE README *****/
/**************************/

#readme h1 svg,
#readme h2 svg,
#readme h3 svg,
#readme h4 svg,
#readme h5 svg,
#readme h6 svg {
  @apply inline-block mr-2 text-text fill-primary;
}

#readme > p > a {
  @apply inline-block;
}

#readme p > a > img,
#readme table img {
  @apply !my-0;
}

#readme table th,
#readme table td {
  @apply border border-secondary p-3;
}

#readme hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  border: 0;
  background-color: var(--secondary);
}

#readme code:not(.hljs) {
  padding: 0.2em 0.4em;
  border-radius: 6px;
  background-color: var(--secondary);
  color: var(--text);
}

/**************************/
/****** PAGINATION ********/
/**************************/

#pagination a {
  @apply opacity-70 flex items-center justify-center rounded-full font-light w-7 h-7 hover:bg-secondary;
}

#pagination a.active {
  @apply bg-primary text-white;
}

#pagination a.disabled {
  @apply pointer-events-none text-secondary;
}
