@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --canvas: #fff;
  --primary: #3b9b6d;
  --accent: #584b4f;
  --secondary: rgba(0, 0, 0, 0.1);
  --text: #000;
}

body[theme="github-dark"] {
  --canvas: #0d1117;
  --primary: #58a6ff;
  --accent: #161b22;
  --secondary: rgba(255, 255, 255, 0.1);
  --text: #c9d1d9;
}

header a,
header button {
  @apply text-white/80 hover:text-primary transition-all;
}

article button {
  @apply p-3 rounded !bg-primary text-white transition-all hover:opacity-90;
}

#dropdown-list.show {
  @apply !block;
}

#dropdown-list:before {
  @apply absolute -top-4 right-10 content-[''] w-0 h-0 border-8 border-transparent border-b-accent;
}