.container {
padding: 20px 30px 30px 30px;
margin: 20px;
height: 80%;
align-content: center;
}

.heading {
font-weight: 600;
font-size: 90px;
display: flex;
}

.title {
color: black;
font-family: 'Jura', sans-serif;
padding-bottom: 30px;
white-space:nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.subtitle {
font-weight: 400;
font-size: 35px;
display: flex;
padding-bottom: 5px;
}

.link {
color: blue;
text-decoration: underline;
padding: 0px 10px 0px 20px;
font-family: 'Jura', sans-serif;
}

.version {
padding-left: 5px;
color: grey;
font-family: 'Jura', sans-serif;
}

.description {
padding-top: 15px;
color: black;
font-size: 40px;
font-family: 'Jura', sans-serif;
width: 920px;
height: 250px;
overflow: hidden;
}

.bottom-icons {
display: inline-block;
padding: 50px 0px 15px 5px;
text-align: justify;
font-size: 40px;
font-family: 'Jura', sans-serif;
position: absolute;
bottom: 20px;
left: 30px;
}

.bottom-icons > div > svg {
  vertical-align: bottom;
}

.downloads {
padding: 0px 16px 0px 16px;;
display: inline-block;
}

.downloads .desc {
display: block;
color: grey;
}

.stars {
padding: 0px 16px 0px 16px;
display: inline-block;
border-left: 2px solid lightGrey;
}

.stars .desc {
display: block;
color: grey;
}

.license {
padding: 0px 120px 0px 16px;
display: inline-block;
border-left: 2px solid lightGrey;
}

.license .desc {
display: block;
color: grey;
}

.pulsar-logo {
  position: absolute;
  left: 940px;
  bottom: 15px;
}
