
  <%# If the user is executing a search on this page %>
  <%# Excludes other package_list pages such as featured or default package listing %>
  <section class="sidebar hidden" id="advanced-search-sidebar">
    <div class="sidebar__section sidebar__section--sort">
      <header>
        <h3 class="sidebar__section-title icon icon-graph">Sort</h3>
      </header>
      <div class="sidebar__section-content">
        <form id="search__sort">
          <fieldset>
            <legend>Select your preferred sort method:</legend>
            <ul style="list-style:none;">
              <li>
                <input type="radio" id="search__sort--downloads" name="sort" value="downloads" />
                <label for="search__sort--downloads">Downloads</label>
              </li>

              <li>
                <input type="radio" id="search__sort--created_at" name="sort" value="created_at" />
                <label for="search__sort--created_at">Created At</label>
              </li>

              <li>
                <input type="radio" id="search__sort--updated_at" name="sort" value="updated_at" />
                <label for="search__sort--updated_at">Updated At</label>
              </li>

              <li>
                <input type="radio" id="search__sort--stars" name="sort" value="stars" />
                <label for="search__sort--stars">Stars</label>
              </li>

              <li>
                <input type="radio" id="search__sort--relevance" name="sort" value="relevance" />
                <label for="search__sort--relevance">Relevance</label>
              </li>
            </ul>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="sidebar__section sidebar__section--direction">
      <header>
        <h3 class="sidebar__section-title icon icon-list-ordered">Direction</h3>
      </header>
      <div class="sidebar__section-content">
        <form id="search__direction">
          <fieldset>
            <legend>Select your preferred direction:</legend>
            <ul style="list-style:none;">
              <li>
                <input type="radio" id="search__direction--desc" name="direction" value="desc" />
                <label for="search__direction--desc">Descending</label>
              </li>
              <li>
                <input type="radio" id="search__direction--asc" name="direction" value="asc" />
                <label for="search__direction--asc">Ascending</label>
              </li>
            </ul>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="sidebar__section sidebar__section--fileExtension">
      <header>
        <h3 class="sidebar__section-title icon icon-file-text">File Extension</h3>
      </header>
      <div class="sidebar__section-content">
        <form id="search__fileExtension">
          <label for="search__fileExtension--input">Provides a grammar supporting the following file extension:</label>
          <input type="text" id="search__fileExtension--input" name="fileExtension" />
        </form>
      </div>
    </div>
    <div class="sidebar__section sidebar__section--serviceType">
      <header>
        <h3 class="sidebar__section-title icon icon-code">Service Type</h3>
      </header>
      <div class="sidebar__section-content">
        <form id="search__serviceType">
          <fieldset>
            <legend>Filter by a Service Type:</legend>
            <ul style="list-style:none;">
              <li>
                <input type="radio" id="search__serviceType--consumed" name="serviceType" value="consumed" />
                <label for="search__serviceType--consumed">Consumed</label>
              </li>
              <li>
                <input type="radio" id="search__serviceType--provided" name="serviceType" value="provided" />
                <label for="search__serviceType--provided">Provided</label>
              </li>
            </ul>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="sidebar__section sidebar__section--service">
      <header>
        <h3 class="sidebar__section-title icon icon-file-text">Service</h3>
      </header>
      <div class="sidebar__section-content">
        <form id="search__service">
          <label for="search__service--input">Service name:</label>
          <input type="text" id="search__service--input" name="service" />
        </form>
      </div>
    </div>
    <div class="sidebar__section sidebar__section--serviceVersion">
      <header>
        <h3 class="sidebar__section-title icon icon-file-text">Service Version</h3>
      </header>
      <div class="sidebar__section-content">
        <form id="search__serviceVersion">
          <label for="search__serviceVersion--input">Service Version:</label>
          <input type="text" id="search__serviceVersion--input" name="serviceVersion" />
        </form>
      </div>
    </div>
    <div class="sidebar__section sidebar__section--owner">
      <header>
        <h3 class="sidebar__section-title icon icon-file-text">Owner</h3>
      </header>
      <div class="sidebar__section-content">
        <form id="search__owner">
          <label for="search__owner--input">Published by the following author:</label>
          <input type="text" id="search__owner--input" name="owner" />
        </form>
      </div>
    </div>
  </section>
