<%- include("header") %>
  <body>
    <%- include("page_header") %>
    <div class="content">
      <main class="container auth">
        <section>
          <h2>Sign Up with GitHub OAuth</h2>
          <a href="https://api.pulsar-edit.dev/api/login">
            <button class="icon icon-mark-github">
              Sign Up
            </button>
          </a>
          <br/>
          <a href="https://github.com/confused-Techie/atom-backend/blob/main/docs/reference/end_user_auth.md#sign-in-with-github" target="_blank">
            What is this?
          </a>
        </section>
        <section>
          <h2>Sign Up with PAT</h2>
          <form action="https://api.pulsar-edit.dev/api/pat">
            <input type="text" name="token" placeholder="Enter your GitHub PAT" />
            <button class="icon icon-key">
              Sign Up
            </button>
          </form>
          <a href="https://github.com/confused-Techie/atom-backend/blob/main/docs/reference/end_user_auth.md#sign-in-with-a-manually-created-pat-token" target="_blank">
            I don't have a PAT
          </a>
        </section>
      </main>
    </div>
    <%- include("page_footer") %>
  </body>
<%- include("footer") %>
