<div class="search_bar">
  <h1>Packages make Pulsar do amazing things.</h1>
  <search>
    <form action="/packages/search">
      <input type="search" class="search_bar__input value="<%=locals.search ? search : ''%>" name="q" placeholder="Search Packages..." />
      <button type="submit">
        <i class="icon icon-search"></i>
        Search
      </button>
    </form>
  </search>
</div>
