apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: download
spec:
  template:
    spec:
      serviceAccountName: download-frontend@pulsar-357404.iam.gserviceaccount.com
      containers:
        - image: "us-west2-docker.pkg.dev/pulsar-357404/package-frontend/download:2.0.2"
          env:
          - name: GH_TOKEN_DOWNLOAD_MICROSERVICE
            valueFrom:
              secretKeyRef:
                key: latest
                name: GH_TOKEN_DOWNLOAD_MICROSERVICE
